@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Prompt:wght@200;300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffff;
  --rb-dark: #041c2c;
  --gray-700: #969bab;
  --alt-orange: #ff764d;
  --alt-lima: #c8f543;
  --gray-100: #f6f6f9;
  --purple-dark: #14131e;

  --font-title: "Prompt", sans-serif;
  --font-description: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-title);
  color: var(--purple-dark);
  background-color: var(--white);
}

img {
  max-width: 100%;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  color: var(--purple-dark);
}

ul {
  list-style: none;
}

small {
  text-transform: uppercase;
}

/* .flex {
  flex-wrap: wrap;
  align-items: center;
  gap: clamp(2rem, 5vw, 5em);
} */

.flex > * {
  flex: 1 1 25em;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.btn__cta {
  color: var(--white);
  background-color: var(--purple-dark);
  padding: 6px 16px;
  border-radius: 30px;
  font-weight: 500;
  box-shadow: 0 0 1px;
  border: none;
  outline: none;
  text-transform: uppercase;
}

.btn__cta-light {
  color: var(--purple-dark);
  background-color: var(--gray-700);
  padding: 6px 16px;
  border-radius: 30px;
  font-weight: 500;
  box-shadow: 0 0 1px;
  border: none;
  outline: none;
  font-family: var(--font-title);
  font-weight: 600;
  text-transform: uppercase;
}

.title {
  font-size: 50px;
  font-family: var(--font-title);
  color: var(--purple-dark);
}

.description {
  font-family: var(--font-description);
  color: var(--gray-700);
  font-size: 18px;
  font-weight: 400;
}

.title-light {
  font-size: 50px;
  font-family: var(--font-title);
  color: var(--gray-100);
}

.description-light {
  font-family: var(--font-description);
  color: var(--gray-700);
}

/* 
- Header section ================================
*/

.header {
  width: 100%;
  position: relative;
}

.header__nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

/* .hero__toggle-menu {
} */

.header__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(2rem, 5vw, 5em);
  font-weight: 500;
  font-size: 17px;

  text-transform: uppercase;
}

/* 
- Hero section ================================
*/
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__container {
  width: 1450px;
  height: 700px;
  border-radius: 26px;
  position: relative;
  background-image: url(../img/hero__img.png);
}

.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--gray-100);
  width: 100%;
  height: 100%;

  gap: 20px;
}

.hero__text .title-light {
  font-size: 80px;
  line-height: 80px;
  font-weight: 500;
}

/* 
- About section ================================
*/

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__container {
  display: flex;
  width: 90%;
  align-items: center;
  gap: 40px;
}

.about-img {
  width: 50%;
  height: auto;
}

.about-img img {
  background-image: linear-gradient();
}

.about-text {
  width: 50%;
}

.about-text .title {
  line-height: 40px;
  margin: 40px 0px;
}
